<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
    <title>Đăng Kí</title>
</head>

<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                    <form action="{{ url_for('routes.register') }}" method="POST" class="mx-1 mx-md-4">
                                        <div class="mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="username">Số Điện Thoại</label>
                                            <input type="text" id="username" name="username" class="form-control"
                                                autocomplete="off" />
                                        </div>
                                        <div class="mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="name">Họ Và Tên</label>
                                            <input type="text" id="name" name="name" class="form-control"
                                                autocomplete="off" />
                                        </div>
                                        <div class="mb-4">                                        
                                        

                                        
                                    </div>






                                        <div class="mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <label class="form-label" for="password">Password</label>
                                            <input type="password" id="password" name="password_field_random"
                                                class="form-control" autocomplete="off" />
                                        </div>
                                        <div class="text-center mx-4 mb-3 mb-lg-4">
                                            <div class="text-center mx-4 mb-3 mb-lg-4">
                                                <input type="submit" value="Register" class="btn btn-primary btn-lg" />
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                        class="img-fluid" alt="Sample image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script defer>
        // Get the user type select element
        const userTypeSelect = document.getElementById('userType');

        // Get the "Lớp" div
        const classDiv = document.getElementById('classDiv');

        // Add an event listener to the user type select element
        userTypeSelect.addEventListener('change', function () {
            if (userTypeSelect.value === 'teacher') {
                // If "giáo viên" is selected, hide the "Lớp" div
                classDiv.style.display = 'none';
            } else {
                // If "học sinh" is selected, show the "Lớp" div
                classDiv.style.display = 'block';
            }
        });
    </script>
</body>

</html>